rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /timetables/{timetable} {
      allow read, update: if request.auth.uid == resource.data.user;
      allow create, delete: if false;
    }
    match /credentials/{credential} {
      allow update, read: if request.auth.uid == resource.data.user;
      allow create, delete: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}